# .clang-format
BasedOnStyle: LLVM

Language: Cpp
IndentWidth: 4
PointerAlignment: Left
BinPackParameters: false
AlignConsecutiveDeclarations:
    Enabled: true
# BreakBeforeBraces: GNU
PackConstructorInitializers: CurrentLine
